<div class="body center-horizontal">

  <div class="two-side">
    <div>
      <h4>{{ profileService.name }}</h4>
    </div>
    <div>
      <!-- add pie menu button at the upper right hand side -->
      <button
        nbButton
        status="primary"
        style="align-self: center"
        [nbPopover]="addPieMenuPopover"
        [nbPopoverPlacement]="nbPosition.BOTTOM"
      >
        <nb-icon icon="plus-outline"/>
        {{ 'PROFILE_PAGE.ADD_PIE_MENU' | translate }}
      </button>

      <!-- profile setting button -->
      <button
        nbButton
        status="primary"
        nbTooltip="{{ 'PROFILE_PAGE.SETTINGS_TOOLTIP' | translate }}"
        (click)="profSettingsRevealed = !profSettingsRevealed"
      >
        <nb-icon icon="settings-2-outline"/>
      </button>
    </div>
  </div>

  <!-- The panel that lists all pie menus within the current profile -->
  <div
    [style.display]="!profSettingsRevealed ? 'flex' : 'none'"
    class="center-horizontal"
  >
    <app-pie-menu-list style="max-height: 65vh; overflow-y: scroll;"/>
  </div>

  <!-- The panel that shows the profile settings -->
  <div [style]="{'display': profSettingsRevealed ? 'unset' : 'none'}">
    <h5 style="margin: 0;">{{"PROFILE_PAGE.PROF_SETTINGS" | translate}}</h5>

    <div
      style="
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
      "
    >
      <div>
        <p style="font-size: large;margin: 0.5em 0;">
          {{ "PROFILE_PAGE.ENABLED" | translate}}
        </p>
        <p>
          {{ "PROFILE_PAGE.ENABLED_DESC" | translate}}
        </p>
      </div>
      <nb-toggle
        [checked]="profileService.enabled"
        (checkedChange)="profileService.toggle()">
      </nb-toggle>

    </div>
    <div
      *ngIf="profileService.id !== 1;"

      style="
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
      "
    >
      <div>
        <p style="font-size: large;margin: 0.5em 0;">
          {{ "PROFILE_PAGE.DELETE_PROF" | translate}}
        </p>
        <p>
          {{ "PROFILE_PAGE.DELETE_PROF_DESC" | translate}}
        </p>
      </div>
      <button
        nbButton
        status="danger"
        (dblclick)="deleteProfileClicked.emit()"
      >
        {{ "PROFILE_PAGE.DELETE_PROF_BUTTON" | translate}}
      </button>

    </div>

    <!--  The profile setting section that shows all binaries added to the current profile  -->
    <!--  Hide for the default profile since it's globally available  -->
    <nb-card
      *ngIf="profileService.id !== 1;"
      style="background-color: transparent; border: 2px solid var(--actions-disabled-text-color);"
    >
      <nb-card-header style="padding: 10px 20px;">
        {{ "PROFILE_PAGE.EXECUTABLE_VERSIONS" | translate }}
      </nb-card-header>

      <nb-list>
        <nb-list-item
          *ngFor="let exe of profileService.exes; let i = index"
          [style.background]="i % 2 !== 0 ? 'var(--border-basic-color-2)' : 'var(--accordion-header-border-color)'"
          style="padding: 5px 20px; display: flex; flex-direction: row; place-content: center; align-items: center; width: 60vw; justify-content: space-between;"
        >
          <div style="text-overflow: ellipsis; max-width: 90%; overflow: hidden">
            {{ exe }}
          </div>
          <button
            *ngIf="i !== 0"
            nbButton
            status="danger"
            size="tiny"
            (click)="removeExecutableVersion(exe)">
            <nb-icon icon="minus-outline"></nb-icon>
          </button>
        </nb-list-item>

        <nb-list-item style="padding: 10px">
          <button
            nbButton
            size="tiny"
            fullWidth
            nbTooltip="{{ 'PROFILE_PAGE.ADD_MISSING_EXE_TOOLTIP' | translate }}"
            (click)="addMissingExeClicked()"
          >
            {{ "PROFILE_PAGE.ADD_MISSING_EXE" | translate }}
          </button>
        </nb-list-item>
      </nb-list>
    </nb-card>

  </div>
</div>

<ng-template #addPieMenuPopover>
  <div
    style="display: flex; flex-direction: column; flex-wrap: nowrap; align-content: center; justify-content: center; align-items: stretch; padding: 10px;">
    <button
      nbButton
      size="small"
      ghost style="border: solid; margin-bottom: 5px"
      (click)="profileService.createAndAddPieMenu()"
    >
      <nb-icon icon="plus-outline"/>
      {{ 'PROFILE_PAGE.NEW_PIE_MENU' | translate }}
    </button>
    <button
      nbButton
      size="small"
      ghost style="border: solid; "
      nbTooltip="{{ 'PROFILE_PAGE.ADD_FROM_EXISTING_TOOLTIP' | translate }}"
      (click)="openPieMenuSelector(pieMenuSelectorDialog)">
      <nb-icon icon="download-outline"/>
      {{ 'PROFILE_PAGE.ADD_FROM_EXISTING' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #pieMenuSelectorDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header style="
      padding: 0.7em 1.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;">
      {{ "PROFILE_PAGE.AVAILABLE_PIE_MENUS" | translate }}
      <button
        nbButton
        ghost
        size="small"
        (click)="ref.close()"
      >
        {{ "PROFILE_PAGE.CANCEL" | translate }}
      </button>
    </nb-card-header>
    <nb-card-body
      style="width: 50vw; display: flex; flex-wrap: wrap; flex-direction: row; align-content: flex-start; justify-content: flex-start; align-items: flex-start;">
      <div *ngIf="data.length === 0">
        {{ "PROFILE_PAGE.NO_EXISTING_PIE_MENUS" | translate }}
      </div>
      <button
        *ngFor="let pieMenu of data"
        nbButton
        size="small"
        ghost
        style="border: solid; margin-right: 10px; margin-bottom: 10px"
        (click)="profileService.addPieMenu(pieMenu); ref.close()"
      >
        {{pieMenu.name}}
      </button>
    </nb-card-body>
  </nb-card>
</ng-template>
