<div
  class="action-card">

  <div class="setting-row">
    <nb-select placeholder="Action" [(selected)]="actionDelegate.pluginId" size="small">
      <nb-option
        *ngFor="let pluginProperty of pluginPropertyList; let i = index"
        (selectionChange)="selectedPluginPropertyIndex = i"
        [value]="pluginProperty.id">{{pluginProperty.name}}</nb-option>

    </nb-select>
    <nb-form-field>
      <nb-icon nbPrefix icon="repeat-outline" pack="eva"></nb-icon>
      <input type="number" min="1" max="99" value="1" nbInput fieldSize="small"
             style="width: 5.5em; padding-right: 0.5em">
    </nb-form-field>
  </div>

  <div
    *ngIf="selectedPluginPropertyIndex >= 0"
    [style.width]="'100%'"
  >
    <div
      *ngFor="let param of pluginPropertyList[selectedPluginPropertyIndex].parameters"
      class="setting-row"
      style="margin-top: 1em"
    >
      {{ param.name }}
      <textarea
        *ngIf="param.type === 'string'"
        nbInput
        fullWidth
        placeholder="{{ 'PAGES.EDITOR.TEXT_PLACEHOLDER' | translate }}"
        style="resize: vertical; margin-left: 1em; max-height: 10em;"
        [value]="actionDelegate.parameters[(param.name)]"
        (change)="actionDelegate.parameters[param.name] = $event"></textarea>
      <app-shortcut-input
        *ngIf="param.type === 'hotkeys'"
        [hotkey]="actionDelegate.parameters[(param.name)]"
        (hotkeyChange)="actionDelegate.parameters[(param.name)] = $event"></app-shortcut-input>
    </div>
  </div>
</div>

