<div
  #pieMenuContainer
  style="position: relative; width: 100%; height: 100%; overflow: hidden"
  (pointerenter)="updatePieItem()"
  (pointermove)="onPointerMove($event)"
  (pointerleave)="onPointerLeave()"
>

  <canvas
    #pieCenter
    [style.position]="'absolute'"
    [style.left.px]="centerX - pieMenuService.centerThickness/2 - pieMenuService.centerRadius"
    [style.top.px]="centerY - pieMenuService.centerThickness/2 - pieMenuService.centerRadius"
    [width]="pieMenuService.centerRadius * 2 + pieMenuService.centerThickness"
    [height]="pieMenuService.centerRadius * 2 + pieMenuService.centerThickness"></canvas>
  <canvas
    #pieCenterSector
    [style.rotate]="centerRotation + 'rad'"
    [style.position]="'absolute'"
    [style.left.px]="centerX - pieMenuService.centerThickness/2 - pieMenuService.centerRadius"
    [style.top.px]="centerY - pieMenuService.centerThickness/2 - pieMenuService.centerRadius"
    [width]="pieMenuService.centerRadius * 2 + pieMenuService.centerThickness"
    [height]="pieMenuService.centerRadius * 2 + pieMenuService.centerThickness"
  ></canvas>

  <div
    *ngFor="let pieItemId of pieMenuService.pieItemIds; let i = index"
    [style.left.px]="centerX"
    [style.top.px]="centerY"
    [style.width.px]="pieMenuService.pieItemSpread"
    [style.height.px]="0"
    [style.rotate]="-90 + i * 360 / pieItemArray.length + 'deg'"
    [style.display]="'flex'"
    [style.align-items]="'center'"
    [style.transform-origin]="'center left'"
    [style.justify-content]="'center'"
    [style.position]="'absolute'">
    <div
      style="width: 0;"
      [style.display]="i % (this.pieItemArray.length/2) === 0 ? 'contents' : 'block'"
      [style.rotate]="getComputedBiasedRotation(i)"
      [style.transform]="i > pieItemArray.length/2 ? 'scaleX(-1)' : 'scaleX(1)'"
    >
      <button
        [style.rotate]="getComputedSelfRotation(i)"
        [style.background]="activeBtnIndex === i ? pieMenuService.mainColor : pieMenuService.secondaryColor"
        [style.border-radius.px]="7"
        [style.max-width.px]="pieMenuService.pieItemWidth"
        [style.border-width.px]="0"
        [style.padding.px]="6"
        [style.color]="'white'"
        [style.transform]="i > pieItemArray.length/2 ? 'scaleX(-1)' : 'scaleX(1)'"
        style="display: flex; align-items: center; justify-content: center;"
        (click)="onButtonClicked(i)"
      >
        <nb-icon
          *ngIf="pieMenuService.isIconAtPieItemNative(pieItemId ?? 0)"
          [style.color]="pieMenuService.iconColor"
          [icon]="pieMenuService.getPieItemIconAt(pieItemId ?? 0)"
          [style.min-width.px]="pieMenuService.iconSize"
          [style.min-height.px]="pieMenuService.iconSize"
          [style.max-width.px]="pieMenuService.iconSize"
          [style.max-height.px]="pieMenuService.iconSize"
        ></nb-icon>
        <img
          *ngIf="!pieMenuService.isIconAtPieItemNative(pieItemId ?? 0) && iconExists(pieMenuService.pieItems.get(pieItemId))"
          [src]="pieMenuService.getPieItemIconAt(pieItemId ?? 0)"
          [style.min-width.px]="pieMenuService.iconSize"
          [style.min-height.px]="pieMenuService.iconSize"
          [style.max-width.px]="pieMenuService.iconSize"
          [style.max-height.px]="pieMenuService.iconSize"
          style="object-fit: contain"
        >
        <div
          [style.margin-left.px]="iconExists(pieMenuService.pieItems.get(pieItemId)) ? 5 : 0"
          style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap"
        >
          {{pieMenuService.pieItems.get(pieItemId)?.name ?? 'Error'}}
        </div>
      </button>

    </div>
  </div>


</div>
