<section class="layout">
  <div class="sidebar">
    <!-- The left side bar that displays all profile info -->

    <div class="sidebar-title-row">
      <h4>{{ 'PAGES.HOME.SIDEBAR_TITLE' | translate }}</h4>
      <button
        nbButton
        class="add-profile-button"
        nbTooltip="{{ 'PROFILE_PAGE.NEW_PROF_BUTTON_TOOLTIP' | translate }}"
        status="primary"
        (click)="openNewProfileDialog()"
      >
        <nb-icon icon="plus-outline"/>
      </button>

    </div>
    <div class="profile-box-list">
      <app-profile-box
        #profileListItemComponent
        *ngFor="let prof of profiles;"
        [profile]="prof"
      />
    </div>
  </div>

  <!-- The right panel that is used to edit the profile and its pie menus -->
  <app-profile-editor
    #profileEditorComponent
    (deleteProfileClicked)="deleteCurrentProfile()"
  />

</section>
