<div
  class="action-card">

  <div class="setting-row">
    <nb-select
      fullWidth
      placeholder="Action"
      [(selected)]="pieTaskContext.addonId"
      size="small">
      <nb-option
        *ngFor="let addonParams of allPieTaskAddonParams; let i = index"
        (selectionChange)="selectedPieTaskAddon = i"
        [value]="addonParams.id">{{addonParams.name}}</nb-option>

    </nb-select>
  </div>

  <div class="setting-row" style="padding-top: 5px">
    <div
      style="
        padding-right: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;"
    >
      Delay
      <app-number-slider-field
        nbTooltip="Delay between each repeat in milliseconds"
        nbtooltipplacement="top"
        [style.padding-left.px]="5"
        icon="clock-outline"
        [min]="1"
        [max]="10000"
        [value]="pieTaskContext.delay"
        (valueChange)="pieTaskContext.delay = $event"
      ></app-number-slider-field>
    </div>
    <div
      style="
        padding-left: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;"
    >
      Repeat
      <app-number-slider-field
        nbTooltip="Time to repeat the task"
        nbtooltipplacement="top"
        [style.padding-left.px]="5"
        icon="repeat-outline"
        [min]="1"
        [max]="99"
        [value]="pieTaskContext.repeat"
        (valueChange)="pieTaskContext.repeat = $event"
      ></app-number-slider-field>
    </div>
  </div>

  <div
    *ngIf="selectedPieTaskAddon >= 0"
    [style.width]="'100%'"
  >
    <div
      *ngFor="let paramName of allPieTaskAddonParams[selectedPieTaskAddon].paramNameList; let i = index"
      class="setting-row"
      style="margin-top: 1em"
    >
      {{ paramName }}
      <textarea
        *ngIf="allPieTaskAddonParams[selectedPieTaskAddon].getParamType(i) === 'text'"
        nbInput
        fullWidth
        placeholder="{{ 'PAGES.EDITOR.TEXT_PLACEHOLDER' | translate }}"
        style="resize: vertical; margin-left: 1em; max-height: 10em;"
        [value]="pieTaskContext.args[(paramName)]"
        (change)="updateArgs(paramName, $event)"></textarea>

      <nb-form-field *ngIf="allPieTaskAddonParams[selectedPieTaskAddon].getParamType(i) === 'number'">
        <nb-icon nbPrefix icon="repeat-outline" pack="eva"></nb-icon>
        <input
          type="number"
          value="1"
          fullWidth
          nbInput
          fieldSize="small"
          style="padding-right: 0.5em"
          [value]="pieTaskContext.args[paramName]"
          (change)="updateArgs(paramName, $event)"
        >
      </nb-form-field>

<!--      add back hotkey-->
<!--      TODO: fix app shortcut input -->
      <app-shortcut-input
        *ngIf="allPieTaskAddonParams[selectedPieTaskAddon].getParamType(i) === 'Hotkey'"
        (hotkeyChange)="pieTaskContext.args[paramName] = 'lskdjf'">
      </app-shortcut-input>
    </div>
  </div>
</div>

