<nb-list>
  <nb-list-item style="display: flex; flex-direction: column;">
    <div class="setting-row" style="width: 100%">
      {{ "PAGES.EDITOR.ESCAPE_RADIUS" | translate }}
      <app-number-slider-field [min]="0" [max]="16384" [value]="0"></app-number-slider-field>
    </div>
    <div class="setting-row" style="width: 100%">
      {{ "PAGES.EDITOR.ICON_SIZE" | translate }}
      <app-number-slider-field [min]="0" [max]="64" [value]="0"></app-number-slider-field>
    </div>
    <div class="setting-row" style="width: 100%">
      {{ "PAGES.EDITOR.CENTER_RADIUS" | translate }}
      <app-number-slider-field [min]="0" [max]="128" [value]="0"></app-number-slider-field>
    </div>
    <div class="setting-row" style="width: 100%">
      {{ "PAGES.EDITOR.CENTER_THICKNESS" | translate }}
      <app-number-slider-field [min]="0" [max]="32" [value]="0"></app-number-slider-field>
    </div>
    <div class="setting-row" style="width: 100%">
      {{ "PAGES.EDITOR.PIE_ITEM_SPREAD" | translate }}
      <app-number-slider-field [min]="0" [max]="1024" [value]="0"></app-number-slider-field>
    </div>
    <div class="setting-row" style="width: 100%">
      {{ "PAGES.EDITOR.PIE_ITEM_ROUNDNESS" | translate }}
      <app-number-slider-field [min]="0" [max]="255" [value]="0"></app-number-slider-field>
    </div>
    <div class="setting-row" style="width: 100%">
      {{ "PAGES.EDITOR.MAIN_COLOR" | translate }}
      <ngx-colors ngx-colors-trigger [(ngModel)]="selectionColor" (input)="updatePieMenu()"></ngx-colors>
    </div>
    <div class="setting-row" style="width: 100%">
      {{ "PAGES.EDITOR.SECONDARY_COLOR" | translate }}
      <ngx-colors ngx-colors-trigger [(ngModel)]="selectionColor" (input)="updatePieMenu()"></ngx-colors>
    </div>
  </nb-list-item>
</nb-list>
